#navDrawer{
    padding-top: 150px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -400px;
    width: 400px;
    background-color: black;
    z-index: 2;
    transition: opacity 1s, right .5s;
    opacity: 0;
}

@keyframes opacity{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

#navDrawerExit{
    border: none;
    background-color: transparent;
    font-size: 40px;
    position: absolute;
    top: 50px;
    right: 42px;
    color: white;

}

#navMenu{
    padding: 0 60px;
    max-height: calc(100% - 160px);
    overflow-y: auto;
}

#navDrawer #navMenu ul li{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: grey;
    transition: color .25s;
    cursor: pointer;
}

#navDrawer #navMenu ul li a span{
    position: relative;
    z-index: 5;
    display: inline-block;
}

#navDrawer #navMenu ul li a::after{
    content: '∨';
    position: absolute;
    top: 50%;
    right: 0;
    font-family: 'xeicon';
    font-size: 17px;
    color: #aaa;
    margin-top: -12px;
    transition: transform .25s ease;
}


#navDrawer #navMenu ul #direct1 a{
    color: white;
}

#navDrawer #navMenu ul #direct1 a span::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 6px;
    left: 0;
    height: 6px;
    background-color: #6693fb;
    transition: width 0.25s ease-in-out;
    z-index: -1;
    width: 100%;
    box-sizing: border-box;
}

#navDrawer #navMenu ul li a span::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 6px;
    left: 0;
    height: 6px;
    background-color: #6693fb;
    transition: width .25s ease-in-out;
    z-index: -1;
    width: 0%;
    box-sizing: border-box;
}

#navDrawer #navMenu ul li a:hover{
    color: white;
    transition: color .25s;
}

#navDrawer #navMenu ul li a:hover span::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 6px;
    left: 0;
    height: 6px;
    background-color: #6693fb;
    transition: width .25s;
    z-index: -1;
    width: 100%;
}

#navMain{
    height: 100px;
    width: 100%;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    box-sizing: border-box;
    
}

#mainLogo img{
    cursor: pointer;
    height: 60px;
    padding-top: 10px;
}

#navDrawerBtn{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: transparent;
    outline: 0;
}

#navDrawerBtn span{
    position: absolute;
    display: block;
    left: 50%;
    width: 24px;
    height: 2px;
    margin-left: -12px;
    background-color: #fff;
    transition: all .3s;
}
#navDrawerBtn span:first-child{
    top:14px;
}
#navDrawerBtn span:nth-child(2){
    top:22px;
}
#navDrawerBtn span:last-child{
    top:30px;
}

#navDrawerBtn:hover span:first-child{
    top:10px;
}
#navDrawerBtn:hover span:last-child{
    top:34px;
}

#mainImage{
    height: 400px;
    background-color: #222325;
    position: relative;
    width: 100%;
}

#captionContainer{
    width: 100%;
    height: 220px;
    padding-top: 80px;
    text-align:center; 
}

#caption h2{
    font-size:36px; 
    font-weight:normal; 
    color:#fff
}

#caption p{
    font-size:15px; 
    color:rgba(255,255,255,0.75); 
    margin-top:15px
}

#navSub{
    background-color: white;
    width: 100%;
    padding: 0 10vw 0 10vw;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
}

#navSub a{
    position: relative;
    padding: 0 25px;
    font-size: 15px;
    line-height: 60px;
    border-right: 1px solid #e9e9e9;
    background-color: transparent;
    cursor: pointer;
}

#navSub a:hover {
    color: skyblue;
}

#navSub #homeBtn{
    border-left: 1px solid #e9e9e9;
}

#navSub a:nth-child(2)::after{
    padding-left: 30px;
    content: "∨";
    font-size: 20px;
}

#navSub a:last-child::after{
    padding-left: 30px;
    content: "∨";
    font-size: 20px;
}